<h3 class="offset3">Flickr Photo Search</h3>
<div class="row">
  <div class="offset3">
      <%= form_tag("/", method: "get", id: "searchForm", class: "form-inline") do %>
      	<div class="form-group">
  				<%= text_field_tag(:query,
  														nil,
  														placeholder: 'ex: Melbourne',
  														class: "input-lg")
  				%>
          <%= submit_tag("Search", class: "btn btn-lg btn-primary") %>
	      </div>
			<% end %>
  </div>
</div>

<% if @photos.any? %>
  <%= render template: "photos/photos" %>
<% end %>