<footer class="footer">
  <small>
    <a href="https://www.flickr.com/services/api/">Flickr api public photos search</a>
    by Dibayendu Dey
  </small>
  <p><a href="https://github.com/dibayendu/flickr_photo_search">Github</a></p>
</footer>